.detail-view {
  display: flex;
  flex-direction: column;
  background-color: #ffe0b2;
}

.editor {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 18px;
}

.detail-btn {
  height: 60px;
  width: 70px;
  margin-right: 3px;
}
