.auth-form {
  width: 100%;
  input {
    padding: 5px;
    margin: 5px;
  }
  button {
    padding: 5px;
    margin: 5px;
  }
  fieldset {
    display: flex;
    padding: 10px;
    color: white;
  }
}

.main-content {
  background-color: #546e7a;
  position: fixed;
  left: 320px;
  top: 100px;
  display: flex;
  width: 80%;
  height: 80%;
  padding: 5px;
}
