.table {
    display: flex;
    flex-direction: column;
  }
  .table-row {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    ;
  }
  .table-data,
  .table-head {
    flex: 1;
    background-color: green;
  
    margin: 3px;
  }
  .table-data{
    background-color: greenyellow;
  }
  .table-head,.table-contol{
    background-color: khaki;
  }
  .list-view {
    height: 100%;
    width: 100%;
  }
  